/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap'); /* font-family: 'Rampart One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap'); /* font-family: 'Bitter', serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Soyombo&display=swap'); /* font-family: 'Noto Sans Soyombo', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap'); /* font-family: 'Skranji', cursive; */


/* Mise en page de ma page */
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* Animations pour tout le texte de la page */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}
/* Mise en page de roulette */
html::-webkit-scrollbar {width: 1rem;}
html::-webkit-scrollbar-track {background: #0E2130;}
html::-webkit-scrollbar-thumb {background: #C200FB; border-radius: 5rem;}
body {background: #0E2130; overflow-x: hidden;}



/* Mise en page de toutes les sections de la page */
section {padding: 2rem 4%;}


/* MISE EN PAGE DE MON MENU */
nav {
    background: #96939B;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
nav:after {
    content: '';
    clear: both;
    display: table;
}
/* Différentes caractéristiques du Titre de mon menu */
nav .logo a, nav .logo {
    float: left;
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 15px;
    text-decoration: none;
}
nav .logo img {width: 99px; float: left;}
nav ul {
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
}
nav ul li {
   float: left;
   display: inline-block;
   background: #96939B;
   margin: 0 5px;
}
nav ul li a {
    color: #fff;
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}
/* Mise en page du menu active et du menu au contact de la souris */
nav ul li a:hover,
nav ul li a.active {
    border-radius: 5px;
    background: #C78B29;
    color: #fff;
    width: 32%;
}

.show,.icon,input {display: none;}

/* RESPONSIVE */

/* Mise en page pour tablette */
@media screen and (min-width:800px) and (max-width:1056px) {
    nav ul {margin-right: 10px;}
    nav lu li a {line-height: 70px; padding: 7px 11px;}
}
/* Mise en page pour le bouton du Menu */
@media all and (max-width:800px) {
    nav ul {margin-right: 0px; width: 100%;}
    .show + a, ul {display: none;}
    nav ul li{display: block; width: 100%;}
    .icon {
        display: block;
        color: #06F4F4;
        position: absolute;
        top: 0;
        right: 25px;
        line-height: 70px;
        cursor: pointer;
        font-size: 25px;
    }
    [id^=btn]:checked + ul {display: block;}
    nav ul ul li {border-bottom: 0px;}
    span.cancel:before {content: '\f00d';}
}



/* MISE EN PAGE DE LANDING PAGE */
.home {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 92vh;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 5rem;
}
#home {
    background: url(../img/fond.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
    text-align: center;
    padding-top: 12rem;
    margin:2rem auto;
    max-width: 84rem;
}
.home .content h3{
    color: #06F4F4;
    font-size: 6vw;
    font-family: 'Rampart One', cursive;
}
.home .content p {
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 1.4rem;
    color: #fff;
    line-height: 2;
    text-transform: capitalize;
}

/* MISE EN PAGE DU TITRE DE LA PAGE */
.home-cours {min-height: 55vh;}
.home-cours .content {max-width: 140rem;}
/* Mise en page pour Smartphone */
@media (max-width: 768px) {
    .home {min-height: 38vh;}
    .home .content {padding-top: 9rem; margin: 2rem auto;}
    .home .content h3 {font-size: 11vw;}
    .home-cours .content p {font-size: 1rem;}
}

/* MISE EN FORME DES DIFFERENTES SECTIONS */
.heading {margin-bottom: 1rem;}
.heading h1 {
    font-family: 'Skranji', cursive;
    font-size: 2.5vw;
    color: #c78b29;
    margin: 1vw;
}
.heading_campus {text-align: center;}
@media screen and (max-width:768px) {
    .heading h1 {font-size: 3.5vw;}
}



/* MISE EN PAGE DE LA PARTIE TOURNOI et EQUIPE et CAMPUS */
#tournoi, #equipe, #campus {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
}
#tournoi .tournoi_titre,
#equipe .equipe_titre,
#campus .campus_titre {
    grid-column: 1 / -1;
    background: transparent;
    color: #fff;
    padding: 20px;
}
#tournoi .tournoi_image,
#equipe .equipe_image,
#campus .campus_image {
    grid-column: 1 / -1;
    background: transparent;
    display: flex;    
    align-items: center;
    justify-content: center;
    padding-right: 1vw;
}
#tournoi .tournoi_image img,
#equipe .equipe_image img,
#campus .campus_image img {
    width: 90%;
}
#tournoi h2,
#equipe h2,
#campus h2 {
    margin-bottom: 6.0pt;
    line-height: 107%;
    font-size: 2vw;
    text-align: left;
    font-family: 'Georgia',serif;
    color: #C200FB;
}
#tournoi p,
#equipe p,
#campus p {
    color: #fff;
    text-align: justify;
    line-height: normal;
    font-size: 1.2vw;
    font-family: 'Bitter', serif;
    text-decoration: none;
}
@media screen and (max-width: ) {
    #tournoi p, #equipe p, #campus p {font-size: 2vw;}
}
/* Mise en forme pour écran 800px  */
@media screen and (max-width: 800px) {
    #tournoi h2, #equipe h2, #campus h2 {font-size: 4vw;}
    #tournoi p, #equipe p, #campus p {font-size: 2.5vw;}
}
/* Mise en forme pour écran entre 1200 px et 1600px  */
@media screen and (min-width: 800px) and (max-width: 1600px) {
    #equipe, #tournoi, #campus {grid-template-columns: repeat(2, 35% 65%);}
    #tournoi .tournoi_titre, #equipe .equipe_titre, #campus .campus_titre {
        grid-column: span 1;
    }
    #tournoi .tournoi_image, #equipe .equipe_image, #campus .campus_image {
        grid-column: span 1;
    }
    #tournoi h2, #equipe h2, #campus h2 {font-size: 4vw;}
    #tournoi p, #equipe p, #campus p {font-size: 1.5vw;}
}
/* Mise en forme pour écran supérieur à 1600px */
@media screen and (min-width: 1600px) {
    #equipe, #tournoi, #campus {grid-template-columns: repeat(2, 35% 65%);}
    #tournoi .tournoi_titre, #equipe .equipe_titre, #campus .campus_titre {
        grid-column: span 1;
    }
    #tournoi .tournoi_image, #equipe .equipe_image, #campus .campus_image {
        grid-column: span 1;
    }
    #tournoi h2, #equipe h2, #campus h2 {font-size: 4vw;}
    #tournoi p, #equipe p, #campus p {font-size: 1.7vw;}
}




/* CREATION DU FOOTER */
footer {
    position: sticky;
    background: #96939B;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
footer .social_icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    color: white;
    padding: 0;
    list-style: none;
}
footer .social_icon li a {
    font-size: 20px;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover {
    transform: translateY(-10px);
    color: #06F4F4;
}
footer p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
}



/* CREATION DU BOUTON RETOUR AU DE PAGE */
.retour_haut #myBtn {
    position: fixed;
    bottom: 5px;
    right: 5px;
    outline: none;
    background-color: transparent;
    color: #C78B29;
    cursor: pointer;
    padding: 10px;
    border: none;
    font-size: 20px;
}
.retour_haut #myBtn:hover {background-color: transparent;}